.local-write-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 510px;
  right: 15px;
  height: 30px;
  width: 28px;
  border-radius: 30px;
  padding: 7px 10px;
  background-color: rgb(255, 72, 0);
}
.local-write-banner__btn span {
  color: white;
}
.local-life__menu-bar {
  display: flex;
  white-space: nowrap;
}
.local-life__menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin: 10px 7px;
  padding: 3px 10px;
}
.local-life__menu-btn i {
  margin-right: 4px;
}

.local-life__menu-btn span:last-of-type {
  font-size: 13px;
}

.local-life__menu-bar {
  padding: 0px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow-x: scroll;
}

.local-life__adv-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  width: 210px;
}
.local-life__adv-text span:first-of-type {
  margin-bottom: 10px;
}
.local-life__adv-text span:last-of-type {
  font-size: 13px;
  font-weight: 600;
  color: rgb(2, 76, 28);
}
.local-life__adv-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(93, 235, 149, 0.1);
}
.local-life__adv-icon i {
  color: rgb(0, 128, 64);
}
.local-life__list {
  list-style: none;
  border-top: 1px solid var(--line-color);
  margin: 0px;
  padding: 0px 20px 0px 20px;
}
.local-life__list-column {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid var(--line-color);
}
.local-life__column-text {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 22px;
}
.local-life__list-column img {
  width: 70px;
  height: 65px;
}
.local-life__column-text span:last-of-type {
  font-size: 12px;
  color: var(--gray-color);
  font-weight: 600;
}
.local-life__column-icons span {
  font-size: 14px;
}
